# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose*

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Documentation
README.md

# Other
.env
.env.*
*.md