[flake8]
max-line-length = 88
exclude = 
    migrations,
    __pycache__,
    manage.py,
    settings.py,
    .git,
    .venv,
    staticfiles
# Ignore specific error codes
# E203: whitespace before ':'
# E501: line too long (handled by black)
# W503: line break before binary operator
ignore = E203,E501,W503
per-file-ignores =
    __init__.py:F401
    */migrations/*.py:E501,F401